@{
    ViewBag.Title = "Ad Control";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}  

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header">
                    <div>
                        <h1 class="box-title col-md-3" style="font-weight:bold; font-size:24px; padding-bottom:5px;">Ad Control</h1>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <form action="#/" id="Gameform" method="post" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="Name" class="col-sm-4 control-label">Interstitial 1 delay(s)/enabling: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-8">
                                            <input type="number"  class="form-control" id="Interstitial_1" name="Interstitial_1" value="0">
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-2">
                                            <div class="checkbox">
                                                <input type="checkbox"  name="Interstitial_1_cb" id="Interstitial_1_cb" onclick="func('Interstitial_1_cb');" value="false">
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label for="Name" class="col-sm-4 control-label">Bottom banner delay(s)/enabling: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-8">
                                            <input type="number"  class="form-control" id="Bottom_banner" name="Bottom_banner" value="0">
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-2">
                                            <div class="checkbox">
                                                <input type="checkbox" name="Bottom_banner_cb" id="Bottom_banner_cb" onclick="func('Bottom_banner_cb');" value="false">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Name" class="col-sm-4 control-label">Reward video enable instead of interstitial 1: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-8">
                                            <input type="number"  class="form-control" id="RewardVideo" name="RewardVideo" value="0">
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-2">
                                            <div class="checkbox">
                                                <input type="checkbox" name="RewardVideo_cb" id="RewardVideo_cb" onclick="func('RewardVideo_cb');" value="false">
                                            </div>
                                        </div>
                                    </div> 
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="col-md-offset-9 col-md-3">
                                            <button type="submit" id="BtnGame" class="btn btn-success">Save changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('html, body').animate({ scrollTop: 0 }, 'fast');
        document.getElementById("AdControl").className = "active";
        $("#preloader").show();
        $.ajax({
            type: "GET",
            url: "/api/WebApis/GetAddControl", //URI
            dataType: "json",
            success: function (data) {
                debugger;
                var datavalue = data;
                var myJsonObject = datavalue;
                contentType: "application/json";
                try
                {
                    document.getElementById("Interstitial_1").value = data.Data.Interstitial_1;
                    document.getElementById("Interstitial_1_cb").checked = data.Data.Interstitial_1_cb;
                    document.getElementById("Interstitial_1_cb").value = data.Data.Interstitial_1_cb; 

                    document.getElementById("Bottom_banner").value = data.Data.Bottom_banner;
                    document.getElementById("Bottom_banner_cb").checked = data.Data.Bottom_banner_cb;
                    document.getElementById("Bottom_banner_cb").value = data.Data.Bottom_banner_cb;

                    document.getElementById("RewardVideo").value = data.Data.RewardVideo;
                    document.getElementById("RewardVideo_cb").checked = data.Data.RewardVideo_cb;
                    document.getElementById("RewardVideo_cb").value = data.Data.RewardVideo_cb; 
                }
                catch (err) {
                    bootbox.alert("There was no record found please add a record first. If the problem continues consult with your developer");
                }
                $("#preloader").hide();
            },
            error: function (xhr) {
                $("#preloader").hide();
                bootbox.alert('Internel Error...');
            }
        });
    });

    function func(d1)
    {
        if (document.getElementById(d1).checked == true)
            document.getElementById(d1).value = 'true'; 
        else
            document.getElementById(d1).value = 'false';
    }
</script>