
@{
    ViewBag.Title = "CouponList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<head>
    <title></title>
    <script type="text/javascript" src="../../Content/ProjectFiles/Admin/CouponList.js"></script>
    <script>
        $(document).ready(function () {
            if ('@ViewBag.message' != "")
            {
                bootbox.alert('@ViewBag.message');
            }
        });
    </script>

    <style>
        .p-0 {
            padding: 0px;
        }
        .bg-green {
            background-color: forestgreen;
        }
        .bg-light-green {
            background-color: #4cff00;
        }
        .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
            padding: 0px;
        }
        .score-board-outer {
            position: relative;
            min-width: 1190px;
        }
        .score-board-outer .score-board-row {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-grow:1;
        }
        .score-board-row .score-board-box {
            position: relative;
            display: flex;
            border-right: 1px solid #808080;
            border-bottom: 1px solid #808080;
            min-width: 40px;
            flex-grow: 1;
            text-align: center;
            align-items: center;
            justify-content: center;
            min-height: 40px;
            padding: 3px;
            font-weight: bold;
        }
        .score-board-row:first-child {
            border-top: 1px solid #808080;
        }
        .score-board-row .score-board-box:first-child {
            border-left: 1px solid #808080;
        }
        .popper-content {
            display: block;
            width: 65px;
            text-align: center;
        }
        input[type="number"].popper-input {
            padding: 0px;
            width: 63px !important;
            float: left;
            padding-left: 3px;
            padding-right: 3px;
            text-align: center;
        }
        .box-heading {
            width: 120px;
            max-width: 120px;
        }
        .box-width {
            width: 50px;
            max-width: 50px;
        }
        .score-board-box .box-text {
            cursor: pointer;
        }
        .score-board-box.score-box {
            width: 50px;
            max-width: 50px;
        }
        .golf-score-outer {
            position:relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }
        .golf-score-outer .golf-holes {
            align-self: center;
        }
        .golf-advantage-dot {
            position: relative;
            display:block;
            right: 0px;
            top: 0px;
            font-size: 8px;
        }
        .golfer-player .score-box{
            max-width: 50px;
        }
    </style>
</head>
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <script type="text/x-template" id="main-box-template">
                <div class="box box-default">
                    <div class="box-header">
                        <div>
                            <h1 class="box-title col-md-3" style="font-weight:bold; color:red; font-size:24px; padding-bottom:5px;">Coupon List</h1>
                            <div class="form-group pull-right">
                                
                            </div>
                        </div>
                        <div class="box-body p-0">
                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 p-0">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div class="container" style="overflow-x:auto; width:100% !important;padding:0px;">
                                            <div class="score-board-outer">
                                                <div class="score-board-row">
                                                    <div class="score-board-box box-heading bg-green">Hole</div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>2</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>3</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>4</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>5</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>6</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>7</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>8</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>9</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>O</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>10</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>11</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>12</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>13</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>14</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>15</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>16</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>17</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>18</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span>In</span>
                                                    </div>
                                                    <div class="score-board-box bg-green"></div>
                                                </div>
                                                <div class="score-board-row">
                                                    <div class="score-board-box box-heading bg-light-green">Yardage</div>
                                                    <div class="score-board-box box-width" v-for="(yar, index) in yardages.firstHalf">
                                                        <popper trigger="click"
                                                                :options="{
                                                                  placement: 'top',
                                                                  modifiers: { offset: { offset: '0,10px' } }
                                                                }">
                                                            <div class="popper">
                                                                <div class="popper-content">
                                                                    <input class="popper-input" type="number" v-model="yardages.firstHalf[index]" />
                                                                </div>
                                                            </div>
                                                            <span class="box-text" slot="reference">{{yardages.firstHalf[index]}}</span>
                                                        </popper>
                                                    </div>
                                                    <div class="score-board-box box-width">
                                                        <span class="box-text">{{firstHalfSum}}</span>
                                                    </div>
                                                    <div class="score-board-box box-width" v-for="(yar, index) in yardages.secondHalf">
                                                        <popper trigger="click"
                                                                :options="{
                                                                  placement: 'top',
                                                                  modifiers: { offset: { offset: '0,10px' } }
                                                                }">
                                                            <div class="popper">
                                                                <div class="popper-content">
                                                                    <input class="popper-input" type="number" v-model="yardages.secondHalf[index]" />
                                                                </div>
                                                            </div>
                                                            <span class="box-text" slot="reference">{{yardages.secondHalf[index]}}</span>
                                                        </popper>
                                                    </div>
                                                    <div class="score-board-box box-width">
                                                        <span class="box-text">{{secondHalfSum}}</span>
                                                    </div>
                                                    <div class="score-board-box "></div>
                                                </div>
                                                <div class="score-board-row">
                                                    <div class="score-board-box box-heading bg-light-green">Handicap</div>
                                                    <div class="score-board-box box-width bg-green" v-for="(yar, index) in handicap.firstHalf">
                                                        <popper trigger="click"
                                                                :options="{
                                                                  placement: 'top',
                                                                  modifiers: { offset: { offset: '0,10px' } }
                                                                }">
                                                            <div class="popper">
                                                                <div class="popper-content">
                                                                    <input class="popper-input" type="number" v-model="handicap.firstHalf[index]" />
                                                                </div>
                                                            </div>
                                                            <span class="box-text" slot="reference">{{handicap.firstHalf[index]}}</span>
                                                        </popper>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span class="box-text">{{handicap.firstHalfSum}}</span>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green" v-for="(yar, index) in handicap.secondHalf">
                                                        <popper trigger="click"
                                                                :options="{
                                                                  placement: 'top',
                                                                  modifiers: { offset: { offset: '0,10px' } }
                                                                }">
                                                            <div class="popper">
                                                                <div class="popper-content">
                                                                    <input class="popper-input" type="number" v-model="handicap.secondHalf[index]" />
                                                                </div>
                                                            </div>
                                                            <span class="box-text" slot="reference">{{handicap.secondHalf[index]}}</span>
                                                        </popper>
                                                    </div>
                                                    <div class="score-board-box box-width bg-green">
                                                        <span class="box-text">{{handicap.secondHalfSum}}</span>
                                                    </div>
                                                    <div class="score-board-box bg-green"></div>
                                                </div>
                                                <div class="score-board-row">
                                                    <div class="score-board-box box-heading bg-light-green">Par</div>
                                                    <div class="score-board-box box-width" v-for="(yar, index) in par.firstHalf">
                                                        <popper trigger="click"
                                                                :options="{
                                                                  placement: 'top',
                                                                  modifiers: { offset: { offset: '0,10px' } }
                                                                }">
                                                            <div class="popper">
                                                                <div class="popper-content">
                                                                    <input class="popper-input" type="number" v-model="par.firstHalf[index]" />
                                                                </div>
                                                            </div>
                                                            <span class="box-text" slot="reference">{{par.firstHalf[index]}}</span>
                                                        </popper>
                                                    </div>
                                                    <div class="score-board-box box-width">
                                                        <span class="box-text">{{par.firstHalfSum}}</span>
                                                    </div>
                                                    <div class="score-board-box box-width" v-for="(yar, index) in par.secondHalf">
                                                        <popper trigger="click"
                                                                :options="{
                                                                  placement: 'top',
                                                                  modifiers: { offset: { offset: '0,10px' } }
                                                                }">
                                                            <div class="popper">
                                                                <div class="popper-content">
                                                                    <input class="popper-input" type="number" v-model="par.secondHalf[index]" />
                                                                </div>
                                                            </div>
                                                            <span class="box-text" slot="reference">{{par.secondHalf[index]}}</span>
                                                        </popper>
                                                    </div>
                                                    <div class="score-board-box box-width">
                                                        <span class="box-text">{{par.secondHalfSum}}</span>
                                                    </div>
                                                    <div class="score-board-box "></div>
                                                </div>
                                                <div class="score-board-row">
                                                    <div class="score-board-box box-heading">Golfer 1</div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-advantage-dot">
                                                                <i class="fa fa-circle"></i>
                                                                <i class="fa fa-circle"></i>
                                                                <i class="fa fa-circle"></i>
                                                                <i class="fa fa-circle"></i>
                                                                <i class="fa fa-circle"></i>
                                                                <i class="fa fa-circle"></i>
                                                                <i class="fa fa-circle"></i>
                                                                <i class="fa fa-circle"></i>
                                                            </span>
                                                                <span class="golf-holes">0</span>
                                                            </div>
                                                            </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes"></span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box"></div>
                                                </div>
                                                <div class="score-board-row">
                                                    <div class="score-board-box box-heading">Golfer 2</div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-advantage-dot">
                                                                <i class="fa fa-circle"></i>
                                                            </span>
                                                            <span class="golf-holes">0</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box score-box">
                                                        <div class="golf-score-outer">
                                                            <span class="golf-holes"></span>
                                                        </div>
                                                    </div>
                                                    <div class="score-board-box"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <div id="vueapp">
                <main-box></main-box>
            </div>


            <script>

                Vue.component('main-box', {
                    template: '#main-box-template',
                    components: {
                        'popper': VuePopper
                    },
                    data: function (){
                        return {
                            yardages: {
                                'firstHalf': [0, 0, 0, 0, 0, 0, 0, 0, 0],
                                'secondHalf': [1, 2, 3, 4, 5, 0, 0, 0, 0]
                            },
                            firstHalfSum: 0,
                            secondHalfSum: 0,
                            handicap: {
                                'firstHalf': [0, 0, 0, 0, 0, 0, 0, 0, 0],
                                'secondHalf': [1, 2, 3, 4, 5, 0, 0, 0, 0],
                                'firstHalfSum': 0,
                                'secondHalfSum': 0
                            },
                            par: {
                                'firstHalf': [0, 0, 0, 0, 0, 0, 0, 0, 0],
                                'secondHalf': [1, 2, 3, 4, 5, 0, 0, 0, 0],
                                'firstHalfSum': 0,
                                'secondHalfSum': 0
                            },
                        };
                    },
                    watch: {
                        yardages: {
                            deep: true,
                            handler: function () {
                                setTimeout(() => {
                                    this.firstHalfSum = this.sumArray(this.yardages.firstHalf);
                                    this.secondHalfSum = this.firstHalfSum + this.sumArray(this.yardages.secondHalf);
                                }, 100);
                            }
                        },
                        handicap: {
                            deep: true,
                            handler: function () {
                                setTimeout(() => {
                                    this.handicap.firstHalfSum = this.sumArray(this.handicap.firstHalf);
                                    this.handicap.secondHalfSum = this.handicap.firstHalfSum + this.sumArray(this.handicap.secondHalf);
                                }, 100);
                            }
                        },
                        par: {
                            deep: true,
                            handler: function () {
                                setTimeout(() => {
                                    this.par.firstHalfSum = this.sumArray(this.par.firstHalf);
                                    this.par.secondHalfSum = this.par.firstHalfSum + this.sumArray(this.par.secondHalf);
                                }, 100);
                            }
                        }
                    },
                    methods: {
                        sumArray: function (arr) {
                            var sum = 0;
                            for (var i = 0; i < arr.length; i++) {
                                if (arr[i] != "" && arr[i] != null) {
                                    sum = sum + parseInt(arr[i] + "", 10);
                                }
                            }
                            return sum;
                        }
                    },
                    mounted: function () {
                        this.firstHalfSum = this.sumArray(this.yardages.firstHalf);
                        this.secondHalfSum = this.firstHalfSum + this.sumArray(this.yardages.secondHalf);
                        this.handicap.firstHalfSum = this.sumArray(this.handicap.firstHalf);
                        this.handicap.secondHalfSum = this.handicap.firstHalfSum + this.sumArray(this.handicap.secondHalf);

                        this.par.firstHalfSum = this.sumArray(this.par.firstHalf);
                        this.par.secondHalfSum = this.par.firstHalfSum + this.sumArray(this.par.secondHalf);
                    }
                });

                var app = new Vue({
                    el: '#vueapp',
                    data: {
                        message: 'Hello Vue!'
                    },
                    components: {
                        'popper': VuePopper
                    }
                })
            </script>

            
        </div>
    </div>
</section>

<div class="modal" id="SingleCreate">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 5px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="font-weight:bold;" font-size:24px;">Add Single Coupon</h4>
            </div>
            <div class="box-body">
                <form action="../../Admin/SingleCreate" id="UpdateForm" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Coupon Code: <span style="color:red;">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" required  minLength="3" maxlength="200" id="Seller" name="Seller" placeholder="Enter Your Coupon Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Assign Add: <span style="color:red;">*</span></label>
                        <div class="col-sm-9">
                            <select name="AddUnit" class="form-control" style="width:100%;">
                                <option value="Interstitial1">Interstitial1</option>
                                <option value="Bottom banner">Bottom banner</option>
                                <option value="Reward Video">Reward Video</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Count: <span style="color:red;">*</span></label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" min="1" value="1" name="Count">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-9 col-md-3">
                            <button type="submit" id="BtnAdmin" class="btn btn-success">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="UpdateModel">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 5px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="font-weight:bold;" font-size:24px;">Update Single Coupon</h4>
            </div>
            <div class="box-body">
                <form action="../../Admin/UpdateCreate" id="UpdateForm" method="post" class="form-horizontal" role="form">
                    <input type="text" class="hidden" id="ID" name="ID" hidden>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Coupon Code: <span style="color:red;">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" minLength="3" maxlength="200" id="Coupon" name="Seller" placeholder="Enter Your Coupon Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Assign Add: <span style="color:red;">*</span></label>
                        <div class="col-sm-9">
                            <select name="AddUnit" id="AddUnit" class="form-control" style="width:100%;">
                                <option value="Interstitial1">Interstitial1</option>
                                <option value="Bottom banner">Bottom banner</option>
                                <option value="Reward Video">Reward Video</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-9 col-md-3">
                            <button type="submit" id="BtnAdmin" class="btn btn-success">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



